*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rosybrown;
  padding: 20px;
}

.container{
  position: relative;
  width: 400px;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
}

header{
  display: flex;
}

.images{
padding-left: 250px;
}

.degree-type{
  display: flex;
  column-gap: 20px;
}

h2{
  margin: 30px 0;
  /* justify-content: center; */
  text-align: center;
}

label{
  color: gray;
}

input, select{
  padding: 10px 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid rgb(223, 216, 216);
}

select{
  font-size: 15px;
}

#result {
  margin: 10px 0;
} 

#convertBtn{
  background-color: rosybrown;
  color: white;
  border: none;
  font-size: larger;
  padding: 10px 140px;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
}

#convertBtn:hover{
  background-color: brown;
}
